@charset "UTF-8";
/******** Fonts **********/
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans-regular.woff2") format("woff2"), url("../fonts/opensans-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans-bold.woff2") format("woff2"), url("../fonts/opensans-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans-semibold.woff2") format("woff2"), url("../fonts/opensans-semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-medium.woff2") format("woff2"), url("../fonts/roboto-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-condensed-bold.woff2") format("woff2"), url("../fonts/roboto-condensed-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/******** Base styles **********/
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #5A7184;
  background-color: #ffffff;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: bottom;
}

input {
  display: block;
  border: none;
}

button {
  border: none;
  background-color: transparent;
}

.container {
  max-width: 79.1%;
  margin: auto;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  text-transform: uppercase;
}

.invalid {
  color: #FAAD13;
  font-size: 14px;
}

.link-to-top {
  position: fixed;
  top: 85%;
  right: 4%;
  z-index: 99;
}
.link-to-top img {
  width: 40px;
  height: 40px;
}

/********** Header ***********/
.header {
  padding-top: 37px;
}
.header__menu-burger {
  display: none;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  width: 90px;
}
.header__button {
  border: 2px solid #1565D8;
  border-radius: 8px;
  color: #1565D8;
  font-weight: 700;
  font-size: 16px;
  padding: 13px 32px;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}
.header__button--mobile {
  display: none;
}

.menu-burger {
  width: 22px;
  height: 17.7px;
  padding: 0;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  cursor: pointer;
}
.menu-burger__line {
  display: block;
  width: 22px;
  height: 2.2px;
  background-color: #3A4C66;
}

.header-nav {
  margin-left: auto;
  margin-right: 5.5%;
}
.header-nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-nav__link {
  font-weight: 600;
  font-size: 16px;
  color: #183B56;
}
.header-nav__item {
  margin-right: 23px;
}
.header-nav__item:last-child {
  margin-right: 0;
}
.header-nav-mobile {
  display: none;
}
.header-nav-mobile__link {
  font-weight: 600;
  font-size: 18px;
  color: #183B56;
}

/********** Main ***********/
main {
  padding-top: 92px;
}

/******** Product **********/
.product .container {
  display: flex;
  justify-content: space-between;
}
.product__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.2px;
  color: #183B56;
  margin-bottom: 27px;
}
.product__title span {
  color: #FAAD13;
}
.product__subtitle {
  font-family: Roboto;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #183B56;
  text-transform: uppercase;
  margin-bottom: 38px;
}
.product__info {
  padding-top: 48px;
  margin-right: 4vw;
}
.product__info-text {
  font-size: 18px;
  line-height: 32px;
  color: #5A7184;
  margin-bottom: 56px;
}
.product__info-buttons {
  display: flex;
  align-items: center;
}
.product__info-leftbutton, .product__info-rightbutton {
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 8px;
}
.product__info-leftbutton {
  background-color: #1565D8;
  color: #ffffff;
  font-size: 16px;
  padding: 20px 37px;
  margin-right: 4.1%;
}
.product__info-rightbutton {
  border: 2px solid #1565D8;
  color: #1565D8;
  font-size: 18px;
  padding: 17px 51px;
  transition: background-color 0.2s ease-in;
}
.product__img-bg {
  background-color: rgba(179, 186, 197, 0.1);
  width: 42.8%;
  height: 580px;
  position: relative;
  flex-shrink: 0;
}
.product__img {
  width: 100%;
  height: 100%;
}
.product__img-wrapper {
  position: absolute;
  top: 50.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 20px 24px rgba(0, 0, 0, 0.08);
  width: 250px;
}

/*******Product-cards************/
.product-cards {
  padding-top: 105px;
  margin-bottom: 79px;
}
.product-cards .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.recommended__title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 0.2px;
  color: #183B56;
  margin-bottom: 32px;
}
.recommended__box {
  display: grid;
  grid-template-columns: repeat(2, minmax(280px, 358px));
  grid-template-rows: repeat(3, 260px);
  grid-gap: 32px;
  margin-bottom: 25px;
}
.recommended__button {
  background-color: rgba(21, 101, 216, 0.1);
  color: #1565D8;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  width: 100%;
  border-radius: 8px;
  padding: 27px 0;
  display: flex;
  justify-content: center;
}

.product-card {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ECEEF2;
  border-radius: 8px;
  padding: 10px 22px 10px 10px;
}
.product-card--best {
  border: none;
  padding: 23px 23px 0 23px;
  margin-bottom: 12px;
  width: 100%;
}
.product-card--best:nth-last-child(2) {
  margin-bottom: 29px;
}
.product-card__img-box {
  max-width: 160px;
  max-height: 238px;
  background-color: rgba(179, 186, 197, 0.1);
  border-radius: 8px;
  overflow: hidden;
}
.product-card__img-box--best {
  height: 178px;
}
.product-card img {
  width: 100%;
  height: 100%;
}
.product-card__info {
  max-width: 144px;
  padding-top: 13px;
}
.product-card__info--best {
  padding-top: 10px;
  max-width: 166px;
}
.product-card__title {
  font-family: Roboto;
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 0.2px;
  color: #183B56;
  margin-bottom: 18px;
}
.product-card__title--best {
  margin-bottom: 14px;
}
.product-card__subtitle {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 16px;
  color: #183B56;
  margin-bottom: 25px;
}
.product-card__price {
  font-family: Roboto;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #1565D8;
  display: block;
  margin-bottom: 24px;
}
.product-card__purchase {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 2px;
}
.product-card__button {
  font-family: Open Sans;
  font-weight: 700;
  font-size: 16px;
  color: #FFFFFF;
  background-color: #183B56;
  border-radius: 2000px;
  cursor: pointer;
  padding: 9px 20px;
}
.product-card__like {
  cursor: pointer;
}
.product-card__like path {
  fill: #959EAD;
}
.product-card__like--active path {
  fill: #ee0534;
}

.best__title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 0.2px;
  color: #183B56;
  margin-bottom: 32px;
}
.best__box {
  background-color: rgba(179, 186, 197, 0.1);
  border-radius: 8px;
  width: 360px;
}
.best__button {
  color: #1565D8;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  width: 89%;
  padding: 27px 0;
  display: flex;
  justify-content: center;
  border-top: 1px solid #ECEEF2;
  margin: 0 auto;
}

/********** Categories ***********/
.categories {
  margin-bottom: 40px;
}
.categories .container {
  padding-top: 60px;
  border-top: 1px solid #ECEEF2;
  position: relative;
}
.categories__item {
  border: 1px solid #ECEEF2;
  border-radius: 8px;
  padding: 40px 10px 29px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0 !important;
}
.categories__item-img {
  margin-bottom: 44px;
}
.categories__item-title {
  font-family: Roboto;
  font-weight: 500;
  font-size: 22px;
  letter-spacing: 0.2px;
  color: #183B56;
  margin-bottom: 14px;
}
.categories__item-info {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #5A7184;
  margin-top: auto;
}
.categories .swiper {
  min-height: 300px;
  position: static;
}
.categories .swiper-button-disabled {
  display: none;
}
.categories__swiper-button {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  width: 56px;
  height: 56px;
  z-index: 99;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  justify-content: center;
}
.categories__swiper-button--next {
  right: -28px;
}
.categories__swiper-button--prev {
  left: -18px;
}
.categories__swiper-button--prev img {
  height: 18px;
}

/********** Unreleased ***********/
.unreleased {
  background-color: #183B56;
  padding-top: 65px;
  padding-bottom: 79px;
  position: relative;
}
.unreleased .swiper {
  position: static;
}
.unreleased .swiper-button-disabled {
  border: 2px solid #5A7184;
}
.unreleased .swiper-button-disabled path {
  fill: #5A7184;
}
.unreleased__title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  margin-bottom: 65px;
}
.unreleased__item-img {
  -o-object-position: -1px -3px;
     object-position: -1px -3px;
}
.unreleased__img-wrapper {
  height: 298px;
  max-width: 204px;
  border-radius: 8px;
  overflow: hidden;
}
.unreleased__swiper-button {
  top: 15.9%;
  transform: translateY(-50%);
  position: absolute;
  width: 56px;
  height: 56px;
  z-index: 99;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #FFFFFF;
}
.unreleased__swiper-button--next {
  right: 149px;
}
.unreleased__swiper-button--prev {
  right: 227px;
}

/**********History***********/
.history {
  padding: 106px 85px 40px;
  margin-bottom: 61px;
}
.history__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
  padding-right: 60px;
}
.history__title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 48px;
  letter-spacing: 0.2px;
  color: #183B56;
}
.history__info {
  max-width: 357px;
  font-family: Open Sans;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #5A7184;
}
.history__autor-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
}
.history__autor-info {
  display: flex;
  justify-content: space-between;
}
.history__autor-name {
  font-family: Roboto;
  font-weight: 500;
  font-size: 22px;
  letter-spacing: 0.2px;
  color: #183B56;
  margin-bottom: 16px;
}
.history__autor-books {
  ont-family: Open Sans;
  font-weight: normal;
  font-size: 16px;
  color: #5A7184;
}
.history__autor-like {
  cursor: pointer;
}
.history__autor-like path {
  fill: #1565D8;
}
.history__autor-like--active path {
  fill: #ee0534;
}

.video, .video-container {
  position: relative;
}

.video--big {
  height: 380px;
  width: 100%;
  background-image: url(../img/video-img-1.jpg);
  background-position: center;
  background-size: cover;
  margin-bottom: 30px;
}
.video-container {
  height: 200px;
  margin-bottom: 25px;
  background-position: center;
  background-size: cover;
}
.video-container--left {
  background-image: url(../img/video-img-2.jpg);
}
.video-container--center {
  background-image: url(../img/video-img-3.jpg);
}
.video-container--right {
  background-image: url(../img/video-img-4.jpg);
}

.video-play {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  cursor: pointer;
  z-index: 99;
}
.video-play svg path {
  fill: #ffffff;
}
.video-play--big {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.video-play--big svg path {
  fill: #1565D8;
}

/********** Partners ***********/
.partners {
  background-color: #B3BAC5;
  color: #ffffff;
  text-align: center;
  padding-top: 82px;
  padding-bottom: 98px;
}
.partners__title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.2px;
  margin-bottom: 56px;
  line-height: 30px;
}
.partners__list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 52px;
}

/********** Blog ***********/
.blog {
  padding-top: 100px;
  padding-bottom: 100px;
}
.blog__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 44px;
}
.blog__title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 48px;
  letter-spacing: 0.2px;
  color: #183B56;
}
.blog__button {
  border: 2px solid #1565D8;
  border-radius: 22px;
  padding: 10px 53px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.2px;
  color: #1565D8;
  transition: background-color 0.2s ease-in;
}
.blog__button--bottom {
  display: none;
}
.blog__content {
  display: flex;
  justify-content: space-between;
}
.blog__article {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 30px;
}
.blog__article-item {
  display: flex;
}
.blog__article-main {
  max-width: 48.8%;
  margin-right: 30px;
}
.blog__article-link {
  margin-right: 36px;
  width: 45%;
  flex-shrink: 0;
}
.blog__article-img {
  border-radius: 8px;
  width: 100%;
  height: 100%;
}
.blog__article-img--main {
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 29px;
}
.blog__article-title {
  margin-bottom: 19px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 0.2px;
  color: #183B56;
}
.blog__article-title:hover {
  color: #1565D8;
}
.blog__article-title--main {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 17px;
}
.blog__article-text {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 18px;
  color: #5A7184;
  line-height: 32px;
}
.blog__article-date {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 14px;
  color: #5A7184;
  margin-bottom: 18px;
}
.blog__article-link-button {
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.2px;
  color: #1665D8;
  text-transform: uppercase;
  display: inline;
}
.blog__article-info {
  padding-top: 7px;
}
.blog__article-info--main {
  padding: 0 10px;
}

/********** Registration ***********/
.registration .container {
  background-image: url(../img/registration-bg.jpg);
  background-position: center;
  background-size: cover;
  padding: 60px 63px 79px 59px;
  border-radius: 12px;
}
.registration__flex-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.registration__motivation {
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  max-width: 395px;
}
.registration__form {
  position: relative;
  margin-top: 30px;
  width: 44%;
}
.registration__input {
  height: 56px;
  background-color: #ffffff;
  border-radius: 8px;
  padding-left: 48px;
  padding-right: 170px;
  font-size: 16px;
  width: 100%;
  height: 56px;
}
.registration__input::-moz-placeholder {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #959EAD;
}
.registration__input:-ms-input-placeholder {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #959EAD;
}
.registration__input::placeholder {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #959EAD;
}
.registration__input-ikon {
  position: absolute;
  z-index: 99;
  left: 20px;
  top: 22px;
}
.registration__button {
  position: absolute;
  right: 4px;
  top: 4px;
  background-color: #FAAD13;
  border-radius: 4px;
  font-family: Open Sans;
  font-weight: 700;
  font-size: 16px;
  color: #FFFFFF;
  padding: 15px 27px;
  cursor: pointer;
}

/****************Footer***************/
/********** Footer-top***********/
.footer {
  padding-top: 108px;
}
.footer__flex-container {
  display: flex;
  margin-bottom: 98px;
}
.footer__left-block {
  max-width: 263px;
  margin-right: 28px;
}
.footer__logo {
  margin-bottom: 29px;
}
.footer__slogan {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  color: #5A7184;
  margin-bottom: 29px;
}
.footer__social-list {
  display: flex;
}
.footer__social-item {
  margin-right: 6px;
}
.footer__social-item:last-child {
  margin-right: 0;
}
.footer__social-link {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: rgba(90, 113, 132, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 5.7vw;
}
.footer__nav-title {
  font-family: Open Sans;
  font-weight: 700;
  font-size: 18px;
  color: #183B56;
  line-height: 25px;
  margin-bottom: 34px;
}
.footer__nav-link {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 16px;
  color: #183B56;
  margin-bottom: 28px;
}
.footer__nav-link:last-child {
  margin-bottom: 0;
}
.footer__bottom-img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 25px;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #1576D8;
}
.footer__copyright {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 16px;
}
.footer__bottom {
  text-align: center;
  padding-bottom: 80px;
}

/**********Thankyou***********/
.dispatch-message .container {
  text-align: center;
}
.dispatch-message__home {
  border-radius: 8px;
  padding: 10px 13px;
  font-size: 14px;
  font-weight: 700;
  display: inline-block;
  background-color: #1565D8;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
}
.dispatch-message__title {
  font-size: 30px;
  line-height: 45px;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #183B56;
}
.dispatch-message__info {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 20px;
}

/*******Modals************/
.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 143, 223, 0.39);
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s;
}
.modal__overlay--visible {
  visibility: visible;
  opacity: 1;
}

/*******Purchase-modal************/
.purchase-modal {
  color: #ffffff;
  background-color: #0A223D;
  border-radius: 8px;
  padding: 35px 88px 33px 88px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 110;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s;
  overflow-y: auto;
  max-width: 478px;
  font-size: 16px;
}
.purchase-modal--visible {
  visibility: visible;
  opacity: 1;
}
.purchase-modal__close {
  position: absolute;
  width: 25px;
  height: 16px;
  right: 14px;
  top: 15px;
  cursor: pointer;
}
.purchase-modal__title {
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
}
.purchase-modal__footer {
  padding: 0;
  margin: 0;
  border-style: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
}
.purchase-modal__submit {
  background-color: #FAAD13;
  color: #ffffff;
  border-radius: 8px;
  padding: 15px 30px;
  cursor: pointer;
  font-weight: 600;
  font-size: 15px;
}
.purchase-form {
  min-width: 302px;
}
.purchase-form__input, .purchase-form__message {
  width: 100%;
  border-radius: 4px;
}
.purchase-form__input {
  height: 50px;
  margin-top: 15px;
  padding: 24px;
}
.purchase-form__input::-moz-placeholder {
  font-size: 12px;
  color: #BDBDBD;
}
.purchase-form__input::-webkit-input-placeholder {
  font-size: 12px;
  color: #BDBDBD;
}
.purchase-form__message {
  padding: 18px 22px;
  min-height: 123px;
  margin-top: 15px;
  margin-bottom: 16px;
  overflow: auto;
  resize: none;
}
.purchase-form__message::-webkit-input-placeholder {
  font-size: 12px;
  color: #BDBDBD;
}
.purchase-form__message::-moz-placeholder {
  font-size: 12px;
  color: #BDBDBD;
}

/******* Media **********/
@media (min-width: 1441px) {
  .container {
    width: 1140px;
  }
}
@media (max-width: 1430px) {
  .recommended {
    width: 100%;
  }
  .recommended__box {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .recommended__button {
    margin-bottom: 59px;
  }

  .product-card {
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
  }
  .product-card__info {
    max-width: 100%;
    text-align: center;
  }
  .product-card__info--best {
    max-width: 166px;
  }
  .product-card__purchase {
    justify-content: center;
  }
  .product-card__button {
    margin-right: 20px;
  }
  .product-card__button--best {
    margin-right: 0;
  }
  .product-card--best {
    margin-bottom: 0;
  }
  .product-card--best:nth-last-child(2) {
    margin-bottom: 0;
  }

  .best {
    width: 100%;
  }
  .best__box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
  }
  .best__button {
    grid-column: 1/5;
  }
}
@media (max-width: 1400px) {
  .product__img-bg {
    height: auto;
  }
}
@media (max-width: 1300px) {
  .product-card__title {
    font-size: 20px;
  }
}
@media (max-width: 1200px) {
  .recommended__box {
    grid-template-columns: repeat(2, 1fr);
  }

  .history {
    padding-right: 0;
    padding-left: 0;
  }
  .history__header {
    padding-right: 0;
  }

  .blog__article-title {
    font-size: 18px;
  }

  .footer__nav {
    grid-column-gap: 4vw;
  }
}
@media (max-width: 1100px) {
  .footer__nav {
    grid-column-gap: 2vw;
  }
}
@media (max-width: 1140px) {
  .product__info-leftbutton {
    padding: 10px 20px;
  }
  .product__info-rightbutton {
    padding: 8px 28px;
    font-size: 16px;
  }
}
@media (max-width: 1130px) {
  .categories__item-title {
    font-size: 18px;
  }
  .categories__item-info {
    font-size: 14px;
  }

  .registration__flex-box {
    flex-wrap: wrap;
    justify-content: center;
  }
  .registration__motivation {
    max-width: 100%;
    text-align: center;
  }
  .registration__form {
    width: 60%;
  }
}
@media (max-width: 1050px) {
  .footer__flex-container {
    flex-wrap: wrap;
  }
  .footer__nav {
    width: 100%;
    order: -1;
    margin-bottom: 45px;
  }
  .footer__left-block {
    margin: 0 auto;
    text-align: center;
  }
  .footer__social-list {
    justify-content: center;
  }
}
/********** Interaktive ***********/
@media (min-width: 992px) {
  .header__button:hover {
    background-color: #1565D8;
    color: #ffffff;
  }
  .header__button:active {
    background-color: #0e4492;
  }
  .header-nav__item {
    position: relative;
  }
  .header-nav__item:hover::before {
    transform: scaleX(1);
  }
  .header-nav__item::before {
    position: absolute;
    bottom: 0;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #183B56;
    transform: scaleX(0);
    transition: transform 0.25s;
  }

  .purchase-modal__submit:hover {
    background-color: #d59005;
  }
  .purchase-modal__submit:active {
    background-color: #fbbe45;
  }

  .product__info-leftbutton:hover {
    background-color: #0e4492;
  }
  .product__info-leftbutton:active {
    background-color: #4c8eee;
  }
  .product__info-rightbutton:hover {
    background-color: #1565D8;
    color: #ffffff;
  }
  .product__info-rightbutton:active {
    background-color: #0e4492;
  }
  .product-card__button:hover {
    background-color: #1565D8;
  }
  .product-card__button:active {
    background-color: #0e4492;
  }

  .product-card__like:hover path {
    fill: #ee0534;
  }

  .recommended__button:hover {
    background-color: rgba(21, 101, 216, 0.2);
  }
  .recommended__button:active {
    background-color: rgba(21, 101, 216, 0.1);
  }

  .best__button span {
    position: relative;
  }
  .best__button span:hover {
    color: #183B56;
  }
  .best__button span:active {
    color: #1565D8;
  }
  .best__button span:hover::before {
    transform: scaleX(1);
  }
  .best__button span::before {
    position: absolute;
    bottom: 0;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #183B56;
    transform: scaleX(0);
    transition: transform 0.25s;
  }

  .history__autor-like:hover path {
    fill: #ee0534;
  }

  .video-play svg path:hover {
    fill: #1565D8;
  }
  .video-play--big svg path:hover {
    fill: #4cd815;
  }

  .blog__button:hover {
    background-color: #1565D8;
    color: #ffffff;
  }
  .blog__button:active {
    background-color: #0e4492;
  }
  .blog__article-link-button {
    position: relative;
  }
  .blog__article-link-button:hover::before {
    transform: scaleX(1);
  }
  .blog__article-link-button::before {
    position: absolute;
    bottom: 0;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #1665D8;
    transform: scaleX(0);
    transition: transform 0.25s;
  }

  .registration__button:hover {
    background-color: #d59005;
  }
  .registration__button:active {
    background-color: #fbbe45;
  }

  .footer__nav-link a {
    position: relative;
    display: inline;
  }
  .footer__nav-link a:hover::before {
    transform: scaleX(1);
  }
  .footer__nav-link a::before {
    position: absolute;
    bottom: 0;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #183B56;
    transform: scaleX(0);
    transition: transform 0.25s;
  }
  .footer__social-link:hover {
    background-color: rgba(90, 113, 132, 0.2);
  }
}
@media (max-width: 992px) {
  .product .container {
    flex-wrap: wrap;
  }
  .product__info {
    margin-bottom: 34px;
  }
  .product__info-text {
    text-align: justify;
  }
  .product__info-buttons {
    justify-content: center;
  }
  .product__img {
    width: 100%;
  }
  .product__img-wrapper {
    width: 56.6%;
  }
  .product__img-bg {
    width: 100%;
    height: 103.8vw;
  }

  .best__box {
    grid-template-columns: repeat(2, 1fr);
  }
  .best__button {
    grid-column: 1/3;
  }

  .categories__item-title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
  }
  .categories__item-info {
    font-size: 12px;
  }

  .history__title {
    font-size: 32px;
  }
  .history .video-container {
    height: 150px;
  }
  .history__autor-name {
    font-size: 18px;
  }
  .partners__list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .registration__form {
    width: 80%;
  }
}
@media (max-width: 900px) {
  .blog__article {
    grid-template-rows: repeat(2, 1fr);
  }
  .blog__article-title {
    font-size: 14px;
    line-height: 20px;
  }
  .blog__article-title--main {
    font-size: 16px;
  }
  .blog__article-item:last-child {
    display: none;
  }
}
@media (max-width: 768px) {
  .categories__item {
    min-height: 250px;
  }
  .categories__item-img {
    margin-bottom: 20px;
  }

  .blog {
    text-align: center;
  }
  .blog__content {
    margin-bottom: 36px;
    flex-wrap: wrap;
  }
  .blog__header {
    justify-content: center;
  }
  .blog__button {
    display: none;
  }
  .blog__button--bottom {
    display: inline-block;
  }
  .blog__article {
    text-align: left;
    grid-template-rows: repeat(3, 1fr);
  }
  .blog__article-text {
    font-size: 12px;
    line-height: 24px;
  }
  .blog__article-info {
    text-align: left;
  }
  .blog__article-img--main {
    margin-right: 0;
  }
  .blog__article-main {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 29px;
  }
  .blog__article-item:last-child {
    display: flex;
  }

  .registration__form {
    width: 100%;
  }
}
@media (max-width: 750px) {
  .recommended__box {
    grid-template-columns: repeat(1, 1fr);
  }

  .product-card {
    width: 70%;
    margin: 0 auto;
  }

  .history__title {
    font-size: 28px;
  }
  .history .video-play--big {
    height: 80px;
    width: 80px;
  }
}
/********** Мобильное меню ***********/ 
@media (max-width: 700px) {
  .dispatch-message {
    padding-top: 50px;
  }

  .main {
    padding-top: 5px;
  }

  .header-nav, .header__button {
    display: none;
  }
  .header-nav, .header__button {
    display: none;
  }
  .header__menu-burger {
    display: flex;
  }
  .header-nav-mobile--toogle {
    display: block;
    margin-right: 0;
    padding-top: 30px;
  }
  .header-nav-mobile--toogle .header-nav-mobile__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header-nav-mobile--toogle .header-nav-mobile__item {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .header-nav-mobile--toogle .header__button {
    display: block;
    margin: auto;
  }

  .categories .swiper {
    min-height: 240px;
  }
  .categories .container {
    padding-top: 54px;
  }
  .categories__item {
    padding-top: 20px;
    min-height: 182px;
    padding-bottom: 18px;
    padding-right: 14px;
    padding-left: 14px;
  }
  .categories__item-img {
    width: 36px;
    height: 36px;
    margin-bottom: 16px;
  }
  .categories__item-title {
    line-height: 20px;
    font-weight: 700;
    margin-bottom: 8px;
  }
  .categories__item-info {
    font-size: 12px;
  }

  .history__header {
    flex-wrap: wrap;
    text-align: center;
  }
  .history__title {
    width: 100%;
    margin-bottom: 24px;
  }
  .history__info {
    max-width: 100%;
  }

  .footer__nav {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 40px;
  }
}
@media (max-width: 660px) {
  .categories {
    margin-bottom: 137px;
  }

  .unreleased {
    text-align: center;
    padding-top: 51px;
    padding-bottom: 137px;
  }
  .unreleased__title {
    font-size: 28px;
    margin-bottom: 43px;
  }
  .unreleased__swiper-button {
    height: 48px;
    width: 48px;
    top: auto;
    bottom: 4%;
  }
  .unreleased__swiper-button--next {
    right: 32%;
  }
  .unreleased__swiper-button--prev {
    right: auto;
    left: 32%;
  }
  .unreleased__img-wrapper {
    margin: 0 auto;
  }
}
@media (max-width: 630px) {
  .product-card--best {
    flex-direction: row;
  }
  .product-card__info--best {
    width: 50%;
    padding-top: 0;
    text-align: left;
  }
  .product-card__title--best {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
  }

  .best__box {
    grid-template-columns: repeat(1, 1fr);
  }
  .best__button {
    grid-column: 1/2;
  }

  .categories .swiper-wrapper {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-row-gap: 10px;
  }
  .categories__swiper-button {
    top: auto;
    bottom: -99px;
    width: 48px;
    height: 48px;
  }
  .categories__swiper-button img {
    width: 15px;
    height: 16px;
  }
  .categories__swiper-button--next {
    right: 92px;
  }
  .categories__swiper-button--prev {
    left: 92px;
  }

  .history__autor-items {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
  }
  .history__autor-item:last-child {
    display: none;
  }
  .history .video--big {
    margin-bottom: 20px;
  }

  .blog {
    padding-bottom: 48px;
  }

  .registration .container {
    max-width: 100%;
    border-radius: 0;
    padding: 27px 24px 29px 25px;
  }
  .registration__flex-box {
    justify-content: start;
  }
  .registration__motivation {
    text-align: left;
    max-width: 70%;
  }
  .registration__form {
    height: 112px;
    background-color: #ffffff;
    border-radius: 8px;
    margin-top: 30px;
  }
  .registration__input {
    padding-right: 10px;
    height: 110px;
    padding-bottom: 52px;
  }
  .registration__input:focus {
    outline: none;
  }
  .registration__input-ikon {
    top: 24px;
  }
  .registration__motivation {
    font-size: 28px;
    line-height: 36px;
  }
  .registration__button {
    transform: translateX(-50%);
    left: 50%;
    top: 52%;
    padding: 12px 0;
    width: 77.8vw;
  }
}
@media (max-width: 530px) {
  .purchase-modal {
    padding-right: 8vw;
    padding-left: 8vw;
  }
  .purchase-form {
    min-width: 70vw;
  }

  .history {
    padding-top: 47px;
  }
  .history .container {
    max-width: 94.1%;
  }
  .history__info {
    padding: 0 10px;
    line-height: 25px;
  }
  .history__title {
    margin-bottom: 25px;
  }
  .history__header {
    margin-bottom: 35px;
  }
  .history .video--big {
    height: 210px;
    background-image: url(../img/video-img-1-mobile.jpg);
  }
  .history .video-container {
    height: 137px;
    margin-bottom: 17px;
  }
  .history .video-play--big {
    width: 56px;
    height: 56px;
  }
  .history .video-play--big img {
    width: 17px;
    height: 22px;
  }
  .history .video-play img {
    width: 21px;
    height: 27px;
  }
  .history__autor-info {
    flex-direction: column;
    align-items: center;
  }
  .history__autor-info-text {
    text-align: center;
  }
  .history__autor-name {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .history__autor-books {
    font-size: 12px;
    margin-bottom: 8px;
  }
  .history__autor-like img {
    width: 10px;
    height: 14px;
  }
}
@media (max-width: 490px) {
  .container {
    max-width: 91.1%;
  }

  .header {
    padding-top: 18px;
  }
  .header .container {
    max-width: 85%;
  }

  .product__info {
    text-align: center;
    margin-right: 0;
  }
  .product__info-text {
    text-align: center;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 18px;
  }
  .product__info-buttons {
    flex-direction: column;
  }
  .product__info-leftbutton {
    margin-right: 0;
    margin-bottom: 17px;
  }
  .product__title {
    margin-bottom: 25px;
  }
  .product__subtitle {
    margin-bottom: 32px;
  }
  .product__img-wrapper {
    width: 48.6%;
  }
  .product__title {
    font-size: 32px;
    line-height: 40px;
  }
  .product__subtitle {
    font-size: 16px;
  }

  .modal .purchase-modal__footer {
    flex-wrap: wrap;
  }
  .modal .purchase-modal__submit {
    width: 100%;
    margin-bottom: 15px;
  }

  .product-cards {
    padding-top: 62px;
    margin-bottom: 58px;
  }
  .product-cards .container {
    max-width: 89%;
  }

  .recommended {
    text-align: center;
  }
  .recommended__title {
    font-size: 28px;
    margin-bottom: 30px;
  }
  .recommended__box {
    grid-template-rows: repeat(1, 1fr);
    margin-bottom: 36px;
  }
  .recommended__button {
    font-size: 16px;
    text-transform: none;
    padding: 14px 0;
  }

  .product-card {
    width: 100%;
  }
  .product-card:nth-child(n+2) {
    display: none;
  }
  .product-card__img-box {
    max-width: 95px;
    max-height: 137px;
  }
  .product-card__img-box--best {
    max-height: 142px;
  }
  .product-card__title {
    margin-bottom: 10px;
  }
  .product-card__title--best {
    margin-bottom: 13px;
  }
  .product-card__subtitle {
    font-size: 14px;
    margin-bottom: 16px;
  }
  .product-card__price {
    font-size: 16px;
    margin-bottom: 18px;
  }
  .product-card__price--best {
    font-size: 20px;
    margin-bottom: 16px;
  }
  .product-card__button {
    padding: 9px 28px;
  }
  .product-card__button--best {
    padding: 9px 21px;
  }
  .product-card--best {
    width: 80%;
  }
  .product-card--best:nth-child(n+2) {
    display: flex;
  }

  .best {
    text-align: center;
  }
  .best__title {
    font-size: 28px;
    margin-bottom: 39px;
  }
  .best__button {
    padding: 20px 0;
  }
}
@media (max-width: 420px) {
  .history {
    margin-bottom: 2px;
  }

  .partners {
    padding-top: 37px;
    padding-bottom: 57px;
  }
  .partners__title {
    margin-bottom: 30px;
  }
  .partners__list {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 20px;
    grid-row-gap: 22px;
  }
  .partners__list-item img {
    width: 87px;
  }
  .partners__list-item:nth-child(n+7) {
    display: none;
  }

  .blog {
    padding-top: 59px;
  }
  .blog__content {
    margin-bottom: 24px;
  }
  .blog__button--bottom {
    font-size: 14px;
    padding: 12px 48px;
  }
  .blog .container {
    max-width: 87.5%;
  }
  .blog__header {
    margin-bottom: 48px;
  }
  .blog__title {
    font-size: 28px;
  }
  .blog__article {
    grid-row-gap: 15px;
  }
  .blog__article-info {
    padding: 0;
  }
  .blog__article-title {
    margin-bottom: 9px;
  }
  .blog__article-title--main {
    margin-bottom: 11px;
  }
  .blog__article-link {
    max-width: 90px;
    max-height: 90px;
    margin-right: 21px;
  }
  .blog__article-img--main {
    max-width: 100%;
    width: 100%;
    height: 120px;
    margin-bottom: 20px;
  }
  .blog__article-date {
    font-size: 10px;
    line-height: 19px;
    margin-bottom: 6px;
  }
  .blog__article-link {
    font-size: 10px;
  }
}
@media (max-width: 400px) {
  .dispatch-message__title {
    font-size: 26px;
    line-height: 32px;
  }
  .dispatch-message__info {
    font-size: 20px;
    line-height: 26px;
  }

  .product-card--best {
    width: 100%;
    padding: 24px 51px 10px 12px;
    margin-bottom: 2px;
  }
  .product-card--best:nth-last-child(2) {
    margin-bottom: 31px;
  }

  .footer {
    padding-top: 47px;
    margin-bottom: 64px;
  }
  .footer__flex-container {
    padding: 0 10px;
  }
  .footer__nav {
    grid-column-gap: 15px;
  }
  .footer__nav-title {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .footer__nav-link {
    font-size: 14px;
    margin-bottom: 19px;
  }
  .footer__logo {
    margin-bottom: 15px;
  }
  .footer__slogan {
    margin-bottom: 14px;
  }
  .footer__bottom {
    display: none;
  }
}
@media (max-height: 600px) {
  .purchase-modal {
    max-height: 100%;
    top: 51%;
    bottom: -44%;
  }
}/*# sourceMappingURL=style.css.map */